<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'app\assets\index.css' %}">
    <!-- CSS only -->
    
</head>
<body>
    <div class="container">
        <form class="form" method="POST">
            {%csrf_token%}
            <h1 class="heading">Login</h1>
            {%for form in forms %}
            <div>
                {{form.label_tag}}<br>
                {{form}}
                <small>{{form.errors}}</small>
            </div>

            {%endfor%}
            <button type="submit">login</button>
        </form>
    </div>
        <!-- JavaScript Bundle with Popper -->
    
</body>
</html>